{% extends "login.html" %}

{% block title %}Home{% endblock %}

{% block content %}
<div id="parent">
  <!--<center><h1>Following</h1></center>-->
  {% if isEmpty %}
  <p> Hey. It looks like you have no stories. Go make some, or browse the library! </p>
  {% else %}
  <table>
    <th>Following</th>
    {% for story in feedStories %}
    <tr>
      <td>
	<div id="postbox">
	  <h1>{{ story[0] }}</h1>
	  <p>
	    {{ story[1] }}
	  </p>
	  <br>
	  <a href = "library/{{story[3]}}">Story page</a>
	</div>
      </td>
    </tr>
    {% endfor %}
  </table>
  {% endif %}
</div>
{% endblock %}
