{% extends "login.html" %}

{% block title %}Home{% endblock %}

{% block toolbar %}
<div id="menu">
  <form action="/toolbarLoggedIn/" method = "POST">
    <input type="submit" value = "Library" name= "type">
    <input type="submit" value = "Random" name = "type">
    <input type="submit" value = "Settings" name = "type">
    <input type="submit" value = "Log Out" name = "type">
  </form>
</div>
{% endblock %}

{% block content %}
<div>
  <!-- see homePage(), need to insert stories, username??? -->
</div>
{% endblock %}
