{% extends "login.html" %}

{% block title %}Library{% endblock %}

{% block toolbar %}
<div id="menu">
  <form action="/toolbarLoggedIn/">
    <input type="submit" value="Library">
    <input type="submit" value="Random">
    <input type="submit" value="Settings">
    <input type="submit" value="Log Out">
  </form>
</div>
{% endblock %}

{% block content %}
<div id="parent">
  <div id="storyList">
    <center><h1>Library</h1><center>
    <list>
      <ol>
	{% for entry in libList %}
	<li>
	  {{ entry }}
	</li>
	{% endfor %}
      </ol>
    </list>
  </div>
</div>
{% endblock %}
