<!DOCTYPE html>
<html>
  <head>
    <title>Tell Me a Story | Login</title>
  </head>
  <body>
    <div class="toolbar">
      <div id="wrapper">
	<div class="logo">
	  <a href="#"><img src="<insert image location>" alt="Login"/></a>
	</div>
	<div id="menu">
	  <form >
	    <input type="submit" value="Library">
	    <input type="submit" value="Random">
	  </form>
	</div>
      </div>
    </div>

    <div id="parent">
      <div id="loginbox">
	<form action="/login/" method="POST">
	  <h3>Login</h3>
	  Username:
	  <input type="text" name="username" placeholder="Username" required>
	  <br><br>
	  Password:
	  <input type="password" name="password" placeholder="Password" required>
	  <br><br>
	  <input type="submit" value="Log In">
	</form>
      </div>
    </div>

    <div id="parent">
      <div id="registerbox">
	<form action="/register/" method="POST">
	  <h3>Register</h3>
	  Username:
	  <input type="text" name="username" placeholder="Username" required>
	  <br><br>
	  Password:
	  <input type="password" name="password" placeholder="Password" required>
	  <br><br>
	  Confirm Password:
	  <input type="password" name="checkpass" placeholder="Retype Password" required>
	  <br><br>
	  <input type="submit" value="Register">
	</form>
      </div>
    </div>

  </body>

</html>
