{% extends "login.html" %}

{% block title %}{{ username }}|{{ title }}{% endblock %}

{% block content %}
<div id="parent">
  <div id="storyPage">
    <center>
      <h1>{{ title }}</h1><br><br>
      <!-- <i>by {{ username }}</i> -->
    </center>
    <p>
      {{ fullStory }}
    </p>
    <br><br>
    {% if canEdit %}
    <form action= {{ url_for('edit', storyID = storyID, userID = user) }} method="POST">
      <textarea rows="4" cols="50" maxlength="250" name="editContent" placeholder="Start writing..." required></textarea>
      <br><br>
      <input type="submit" value="Submit Edit">
    </form>
    {% endif %}
  </div>
</div>
{% endblock %}
