{% extends "login.html" %}

{% block title %}{{ username }}|{{ title }}{% endblock %}

{% block content %}
<div id="parent">
  <div id="storyPage">
    <center>
      <h1>{{ title }}</h1><br><br>
      <!-- <i>by {{ username }}</i> -->
    </center>
    {% if canEdit %}
    <p>
      {{ fullStory }}
    </p>
    <br><br>

    <center><i>Warning: When adding to a story, do not input symbols such as: " or ' <br>
	Doing so may break the page.</i>
      <form action= {{ url_for('edit', storyID = storyID) }} method="POST">
	<textarea rows="4" cols="50" maxlength="250" name="editContent" placeholder="Start writing..." required></textarea>
	<br><br>
	<input type="submit" value="Submit Edit">
      </form>
    </center>
    {% else %}
    {% if isLoggedIn %}
    {{fullerStory}}
    <br><br>
    <center><i>You have already edited this story.</i></center>
    {% else %}
    {{fullStory}}
    <br><br>
    <center><i>Log in to view more!</i></center>
    {% endif %}
    {% endif %}
  </div>
</div>
{% endblock %}
