<!DOCTYPE html>
<html>
  <head>
    <title>Tell Me a Story | Login</title>
  </head>
  <body>
    <div class="toolbar">
      <div id="wrapper">
	<div class="logo">
	  <a href="#"><img src="<insert image location>" alt="Login"/></a>
	</div>
	<div id="menu">
	  # settings, home
	</div>
      </div>
    </div>

    <div id="">
      <div id="">
	<form action="/login/" method="POST">
	  
	  <input type="text" name="username" placeholder="Username" required>
	  <br><br>
	  <input type="password" name="password" placeholder="Password" required>
	  <br><br>
	  <input type="submit" value="Log In"
	</form>
      </div>
    </div>
  </body>

</html>
